<div class="pagebg">

    <h1 class="py-5 passion text-center" style="font-size: 60px;"> Find out how busy places are to keep yourself safe </h1>

    <div class="d-flex justify-content-center">

        <img src="img/keele_map.jpg" usemap="#image-map" class="map" style="max-height:950px; width: auto;">

        <map name="image-map">
    <area target="" alt="Fields" title="Fields" href="#" onClick="return false;" data-bs-toggle="modal" data-bs-target="#exampleModal" coords="888,209,106,225,111,1320,575,1314,689,1312,684,994,967,999,967,695,904,695,901,594,896,551,895,359" shape="poly">
    <area target="_blank" alt="Top" title="Top" href="#" onClick="return false;" coords="899,215,2876,199,2881,824,2060,808,2012,663,1959,583,1882,541,1811,541,1760,575,1623,509,1596,549,1577,853,1424,859,1392,967,1360,989,1293,989,1219,959,1179,861,1166,785,1163,689,912,692" shape="poly">
    <area target="_blank" alt="Colleges" title="Colleges" href="#" onClick="return false;" coords="1599,855,1594,560,1620,514,1754,577,1872,544,1944,578,2007,649,2045,805,2096,813,2092,940,2092,1175,1969,1175,1969,1095,1733,1099,1712,1002,1603,993,1599,923" shape="poly">
    <area target="_blank" alt="Right" title="Right" href="#" onClick="return false;" coords="2092,808,2896,2277" shape="rect">
    <area target="_blank" alt="Victors" title="Victors" href="#" onClick="return false;" coords="1860,1798,1754,1542" shape="rect">
    <area target="_blank" alt="Seneca" title="Seneca" href="#" onClick="return false;" coords="1898,1537,2066,1811" shape="rect">
    <area target="_blank" alt="Main Park" title="Main Park" href="#" onClick="return false;" coords="1586,1175,2066,1348" shape="rect">
    <area target="_blank" alt="Scott" title="Scott" href="#" onClick="return false;" data-bs-toggle="modal" data-bs-target="#exampleModal1" coords="1207,1251,1325,1369" shape="rect">
    <area target="_blank" alt="Central Square" title="Central Square" href="#" onClick="return false;" coords="1325,1247,1308,1205,1283,1201,1270,1146,1426,1146,1430,1398,1329,1394" shape="poly">
    <area target="_blank" alt="Ross" title="Ross" href="#" onClick="return false;" coords="1426,1137,1493,1449" shape="rect">
    <area target="_blank" alt="Vari" title="Vari" href="#" onClick="return false;" coords="1510,1230,1578,1445" shape="rect">
    <area target="_blank" alt="York Lanes" title="York Lanes" href="#" onClick="return false;" coords="1738,1100,1957,1171" shape="rect">
    <area target="_blank" alt="Bottom" title="Bottom" href="#" onClick="return false;" coords="697,1318,1042,1348,1215,1436,1219,1680,1392,1685,1422,1798,2096,1815,2092,2278,566,2278,566,2219,562,2047,562,1849,571,1310" shape="poly">
    <area target="_blank" alt="Life Sciences" title="Life Sciences" href="#" onClick="return false;" coords="1021,893,1144,948" shape="rect">
    <area target="_blank" alt="Tait Mackenzie" title="Tait Mackenzie" href="#" onClick="return false;" coords="1051,695,1165,771" shape="rect">
    <area target="_blank" alt="West Colleges " title="West Colleges " href="#" onClick="return false;" coords="688,986,1000,1310" shape="rect">
    <area target="_blank" alt="Chem/Petrie" title="Chem/Petrie" href="#" onClick="return false;" coords="1004,973,1215,1108" shape="rect">
    <area target="_blank" alt="Bergeron" title="Bergeron" href="#" onClick="return false;" data-bs-toggle="modal" data-bs-target="#exampleModal2" coords="1055,1234,1177,1386" shape="rect">
    <area target="_blank" alt="Osgoode" title="Osgoode" href="#" onClick="return false;" coords="1224,1558,1417,1680" shape="rect">
    <area target="_blank" alt="Nursing" title="Nursing" href="#" onClick="return false;" coords="1219,1432,1409,1558" shape="rect">
    <area target="_blank" alt="Accolades" title="Accolades" href="#" onClick="return false;" coords="1578,1344,2066,1512" shape="rect">
    <area target="_blank" alt="Atkinson" title="Atkinson" href="#" onClick="return false;" coords="1721,1803,1712,1525,1610,1522,1564,1527,1564,1581,1539,1581,1543,1708,1544,1798,1594,1803,1641,1798" shape="poly">
    <area target="_blank" alt="New Student Centre" title="New Student Centre" href="#" onClick="return false;" coords="1569,1495,1561,1571,1531,1777,1481,1781,1455,1773,1443,1756,1417,1723,1405,1693,1405,1508,1481,1504" shape="poly">
    <area target="_blank" alt="Stedman" title="Stedman" href="#" onClick="return false;" coords="1607,999,1712,1112" shape="rect">
    <area target="_blank" alt="Old Student Centre" title="Old Student Centre" href="#" onClick="return false;" coords="1514,1121,1514,1213,1573,1213,1578,1150,1721,1158,1721,1121" shape="poly">
    <area target="_blank" alt="Lassonde/Steacie" title="Lassonde/Steacie" href="#" onClick="return false;" coords="1219,999,1417,1112" shape="rect">
   </map>

    </div>




    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel">Crowd Meter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body justify-content-center">
                    <div class="bg-gray rounded-3 border border-secondary" style="height: 20px; width:92%; position: absolute;"></div>
                    <div class="gradient2 rounded-3 border border-secondary" style=" width: 10%; height: 20px; position: relative;"></div>
                </div>

                <div class="modal-body text-center">
                    Not Busy
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal1" tabindex="-2" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel1">Crowd Meter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body justify-content-center">
                    <div class="bg-gray rounded-3 border border-secondary" style="height: 20px; width:92%; position: absolute;"></div>
                    <div class="gradient rounded-3 border border-secondary" style=" width: 100%; height: 20px; position: relative;"></div>
                </div>

                <div class="modal-body text-center">
                    Crowded
                </div>

            </div>
        </div>
    </div>


    <div class="modal fade" id="exampleModal2" tabindex="-3" aria-labelledby="exampleModalLabel2" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center" id="exampleModalLabel2">Crowd Meter</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>


                <div class="modal-body justify-content-center">
                    <div class="bg-gray rounded-3 border border-secondary" style="height: 20px; width:92%; position: absolute;"></div>
                    <div class="gradient1 rounded-3 border border-secondary" style=" width: 60%; height: 20px; position: relative;"></div>
                </div>

                <div class="modal-body text-center">
                    Quite Busy
                </div>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $.fn.maphilight.defaults = {
        fill: true,
        fillColor: '000000',
        fillOpacity: 0.2,
        stroke: true,
        strokeColor: '0000ff',
        strokeOpacity: 1,
        strokeWidth: 1,
        fade: true,
        alwaysOn: false,
        neverOn: false,
        groupBy: false,
        wrapClass: true,
        shadow: false,
        shadowX: 0,
        shadowY: 0,
        shadowRadius: 6,
        shadowColor: '000000',
        shadowOpacity: 0.8,
        shadowPosition: 'outside',
        shadowFrom: false
    }

    /*! Image Map Resizer (imageMapResizer.min.js ) - v1.0.10 - 2019-04-10
     *  Desc: Resize HTML imageMap to scaled image.
     *  Copyright: (c) 2019 David J. Bradshaw - dave@bradshaw.net
     *  License: MIT
     */

    ! function() {
        "use strict";

        function r() {
            function e() {
                var r = {
                        width: u.width / u.naturalWidth,
                        height: u.height / u.naturalHeight
                    },
                    a = {
                        width: parseInt(window.getComputedStyle(u, null).getPropertyValue("padding-left"), 10),
                        height: parseInt(window.getComputedStyle(u, null).getPropertyValue("padding-top"), 10)
                    };
                i.forEach(function(e, t) {
                    var n = 0;
                    o[t].coords = e.split(",").map(function(e) {
                        var t = 1 == (n = 1 - n) ? "width" : "height";
                        return a[t] + Math.floor(Number(e) * r[t])
                    }).join(",")
                })
            }

            function t(e) {
                return e.coords.replace(/ *, */g, ",").replace(/ +/g, ",")
            }

            function n() {
                clearTimeout(d), d = setTimeout(e, 250)
            }

            function r(e) {
                return document.querySelector('img[usemap="' + e + '"]')
            }
            var a = this,
                o = null,
                i = null,
                u = null,
                d = null;
            "function" != typeof a._resize ? (o = a.getElementsByTagName("area"), i = Array.prototype.map.call(o, t), u = r("#" + a.name) || r(a.name), a._resize = e, u.addEventListener("load", e, !1), window.addEventListener("focus", e, !1), window.addEventListener("resize", n, !1), window.addEventListener("readystatechange", e, !1), document.addEventListener("fullscreenchange", e, !1), u.width === u.naturalWidth && u.height === u.naturalHeight || e()) : a._resize()
        }

        function e() {
            function t(e) {
                e && (! function(e) {
                    if (!e.tagName) throw new TypeError("Object is not a valid DOM element");
                    if ("MAP" !== e.tagName.toUpperCase()) throw new TypeError("Expected <MAP> tag, found <" + e.tagName + ">.")
                }(e), r.call(e), n.push(e))
            }
            var n;
            return function(e) {
                switch (n = [], typeof e) {
                    case "undefined":
                    case "string":
                        Array.prototype.forEach.call(document.querySelectorAll(e || "map"), t);
                        break;
                    case "object":
                        t(e);
                        break;
                    default:
                        throw new TypeError("Unexpected data type (" + typeof e + ").")
                }
                return n
            }
        }
        "function" == typeof define && define.amd ? define([], e) : "object" == typeof module && "object" == typeof module.exports ? module.exports = e() : window.imageMapResize = e(), "jQuery" in window && (window.jQuery.fn.imageMapResize = function() {
            return this.filter("map").each(r).end()
        })
    }();
    //# sourceMappingURL=imageMapResizer.map

    $(function() {
        $('.map').maphilight();
    });

    $(document).ready(function() {
        $('map').imageMapResize();
    });
</script>