<div class="text-center py-10 my-5">
    <h1 class="h1 mb-4"> Here are some tips you can use to stay safe at school!</h1>
</div>


<div class="text-center py-4 my-5">
    <h1 style="text-align:left;">1. Stay home if you arent feeling well.</h1>

    <h1 style="text-align:left;">2. When on campus try your best to maintain 6 feet apart.</h1>

    <h1 style="text-align:left;">3. Keep your face mask on at all times.</h1>

    <h1 style="text-align:left;">4. Avoid touching your face as much as possible.</h1>

    <h1 style="text-align:left;">5. Wash or sanitize your hands as frequency as possible. </h1>

    <h1 style="text-align:left;">6. Don't be in small areas for too long.</h1>
    
    <h1 style="text-align:left;">7. Make sure to always get some fresh air whenever you need it.</h1>

</div>